#ui
	+reset
	position: absolute
	top: 0px
	left: 0px
	width: 100%
	height: 100%
	h1
		font-size: 3.6em
		font-family: 'Nothing You Could Do'
	h2
		font-size: 2em
	.hero
		position: absolute
		top: 70px
		left: 50%
		margin-left: -400px
		width: 800px
		height: 200px
	
